<div class="auth">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#login">Login</a></li>
                <li class="tab col s6"><a href="#register">Register</a></li>
            </ul>
        </div>
        <div id="login" class="col s6 offset-s3">
            <form action="/add" method="POST">
            <h2>Login</h2>
                <div class="input-field col s12">
                    <input name="email" placeholder="Email" id="email" type="text" class="validate" required>
                    <label for="email">Email:</label>
                    <span class="helper-text" data-error="Enter your email"></span>
                </div>
                <div class="input-field col s12">
                    <input name="password" min="1" placeholder="Password" id="password" type="text" class="validate" required>
                    <label for="password">Password:</label>
                    <span class="helper-text" data-error="Enter your password"></span>
                </div>
                <button class="btn btn-primary">Login</button>
            </form>
        </div>
        <div id="register" class="col s6 offset-s3">
            <form action="/add" method="POST">
            <h2>Registration</h2>
                <div class="input-field col s12">
                    <input name="remail" placeholder="Email" id="remail" type="text" class="validate" required>
                    <label for="remail">Email:</label>
                    <span class="helper-text" data-error="Enter your email"></span>
                </div>
                <div class="input-field col s12">
                    <input name="rpassword" min="1" placeholder="Password" id="rpassword" type="text" class="validate" required>
                    <label for="rpassword">Password:</label>
                    <span class="helper-text" data-error="Enter your password"></span>
                </div>
                <div class="input-field col s12">
                    <input name="confirm" min="1" placeholder="Password repeat" id="confirm" type="text" class="validate" required>
                    <label for="confirm">Password repeat:</label>
                    <span class="helper-text" data-error="Enter your password"></span>
                </div>
                <button class="btn btn-primary">Registration</button>
            </form>
        </div>
    </div>
</div>